.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;
}
.register-form {
    width: 100%;
    max-width: 500px;
    padding: 10px;
}
