$background-color: #2f3640;
$red-border: #c23616;
$input-bg: #4b5259;
$input-bg-hover: #585f68;
$white: #f5f6fa;

*,
*:before,
*:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}

.App {
    width: 100%;
    min-height: 100vh;
}

.background-container {
    background: $background-color;
    scroll-behavior: smooth;
    min-height: 100vh;
    color: #f0f8ff;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
