@use '../../styles/variables' as var;

.genre-filter-container {
    .list-item {
        text-align: left !important;
        background: var.$input-bg !important;
        color: var.$white !important;
        font-size: 16px !important;
    }
    .list-item:hover {
        cursor: pointer;
        background: var.$input-bg-hover !important;
    }
    .list-item-active {
        border-left-color: var.$red !important;
        border-left-width: 2px !important;
        transition: 0.3s ease-in !important;
    }
}

.genre-filter-container > label {
    margin: 5px 0px;
    color: var.$white;
}
