@use '../../styles/variables' as var;

.movie-info-image {
    max-height: 500px;
}
.movie-info-content {
    color: var.$white;
}

.subtext {
    font-size: 20px;
    color: var.$muted;
}
.subtext .ghost {
    margin: 0 0.5em;
}
.description {
    font-size: 18px;
}

hr.movie-info {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}
