$icon-color: #fbc531;

.movie-info-image {
    max-height: 500px;
}
.movie-info-content {
    color: #f2f3f4;
}

.subtext {
    font-size: 20px;
    color: #c0bbb3;
}
.subtext .ghost {
    margin: 0 0.5em;
}
.description {
    font-size: 18px;
}

.rating {
    display: flex;
    align-items: center;
}
.rating > .icon {
    color: $icon-color;
}
