$red-border: #c23616;
$input-bg: #4b5259;
$input-bg-hover: #585f68;
$icon-color: #fbc531;
$white: #f5f6fa;

.text-area-container {
    position: relative;
    text-align: left;
}

.text-area-container > label {
    margin: 5px 0px;
    color: $white;
}

.text-area-container > textarea {
    width: 100%;
    padding: 10px 40px;
    background: $input-bg;
    border-bottom: 2px solid $red-border;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-radius: 3px;
    color: $white;
}

.text-area-container > textarea:focus {
    outline: 0;
}

.text-area-container > .text-area-icon {
    position: absolute;
    color: $icon-color;
    z-index: 2;
    text-align: left;
    top: 46px;
    left: 15px;
}

.text-area-container > .text-area-icon.no-label {
    position: absolute;
    color: $icon-color;
    z-index: 2;
    text-align: left;
    top: 14px;
    left: 15px;
}

.text-area-container > textarea::placeholder {
    color: #999fa1;
}
